@font-face {
    font-family: 'Montserrat Bold';
    src: url('../police/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Druk Wide';
    src: url('../police/Druk\ Wide\ Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../police/Montserrat-Regular.ttf');
}